{% extends "base.html" %}

{% block content %}
{% load static %}
<body>
    <section>
        <h2>Our Mission</h2>
        <p>At Quizzes Platform, our mission is to make learning fun and accessible for everyone. We believe that quizzes provide an exciting way to acquire knowledge, test your skills, and challenge yourself in a wide range of subjects.</p>
    </section>
    <section>
        <h2>What Sets Us Apart</h2>
        <h3>Diverse Topics</h3>
        <p>Explore a diverse range of topics, from science and technology to arts and culture. Our platform offers quizzes that cater to various interests, ensuring there's something for everyone.</p>

        <h3>User-Created Content</h3>
        <p>Join a vibrant community of learners and creators. Users can contribute their quizzes, share their expertise, and challenge others to test their knowledge.</p>

        <h3>Personalized Learning</h3>
        <p>Track your progress, review your results, and embark on a personalized learning journey. Quizzes Platform adapts to your pace, allowing you to focus on areas that matter most to you.</p>

        <h3>Community Engagement</h3>
        <p>Connect with like-minded individuals, discuss quiz topics. Quizzes Platform is more than just quizzes; it's a place to share ideas and connect with fellow learners.</p>
    </section>
    <section>
        <h2>How It Works</h2>
        <ol>
            <li><strong>Explore Quizzes:</strong> Browse through a wide array of quizzes covering various subjects.</li>
            <li><strong>Create Your Quiz:</strong> Join our community of creators by crafting quizzes tailored to your expertise.</li>
            <li><strong>Track Your Progress:</strong> Monitor your quiz results and track your learning journey over time.</li>
        </ol>
    </section>
    <section>
        <h2>Get Started</h2>
        <p>Ready to embark on an exciting learning adventure? Join Quizzes Platform today and start discovering, creating, and challenging yourself through the power of quizzes!</p>
        <p>Happy quizzing!</p>
    </section>
      <br>
        <p><strong>The Quizzes Platform Team</strong></p>
</body>
{% endblock %}